@using WebMatrix.Data

@{
    //Check if logged in
    if (Session["userame"] == null || Session["password"] == null)
    {
        Response.Redirect("~/Admin.cshtml");
    }
    //Database Connection
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Fondanti.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    Page.Title = "Fondanti";
    Layout = "~/_Layout.cshtml";
    //Layout = "Your Layout Page goes here";


}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1 style="text-align:center">Succesvol Ingelogt, @Session["userame"]</h1>
    <h4 style="text-align:center; color:red">@Session["foutmelding"]</h4>
    @{
        if (Session["foutmelding"] != null)
        {
            Session["foutmelding"] = null;
        }
    }

    <br />
    <form method="POST">
        <div class="container" style="text-align:center;">
            <div class="card-body">
                <table class="table">
                    @{
                        string table = "";
                        string a = "";
                        string b = "";
                        string c = "";
                        string d = "";
                        string close = "";
                        for (int count = 0; count < 6; count++)
                        {
                            if (count == 0)
                            {
                                table = "Vulling";
                                close = "closevulling";
                                a = "vulling_id";
                                b = "smaak";
                                c = "vulling_prijs";
                                d = "allergieën_id";
                            }
                            else if (count == 1)
                            {
                                table = "Thema";
                                close = "closethema";
                                a = "thema_id";
                                b = "thema";
                                c = null;
                                d = null;
                            }
                            else if (count == 2)
                            {
                                table = "Laag";
                                close = "closelaag";
                                a = "laag_id";
                                b = "smaak";
                                c = "laag_prijs";
                                d = "allergieën_id";
                            }
                            else if (count == 3)
                            {
                                table = "Decoratie";
                                close = "closedecoratie";
                                a = "decoratie_id";
                                b = "niveau_decoratie";
                                c = "decoratie_prijs";
                                d = null;
                            }
                            else if (count == 4)
                            {
                                table = "Bekleding";
                                close = "closebekleding";
                                a = "bekleding_id";
                                b = "bekleding";
                                c = "bekleding_prijs";
                                d = "allergieën_id";
                            }
                            else if (count == 5)
                            {
                                table = "Allergieën";
                                close = "closeallergieën";
                                a = "allergieën_id";
                                b = "allergieën";
                                c = null;
                                d = null;
                            }
                            if (Session[table] == "true" && Validation.IsValid())
                            {
                                <thead class="thead-light">
                                    <tr>
                                        <th>@b</th>
                                        <th>@c</th>
                                        @{if (d != null){<th>Allergie</th>}}
                                        <th>Wijzigen</th>
                                        <th>Verwijderen</th>
                                    </tr>
                                </thead>
                                var inhoud = db.Query(@"select * FROM " + table + "");
                                foreach (var row in inhoud)
                                {
                                    bool geenallergie = false;
                                    if (table == "Allergieën" && row.allergieën == "Geen Allergie")
                                    {
                                        geenallergie = true;
                                    }
                                    <tr>
                                    <td>@row[b]</td>
                                        @{ 
                                            if (c != null){<td>@row[c]</td>}
                                            else
                                            {
                                                <td></td>
                                            }
                                            if (d != null)
                                            {
                                                string All = Convert.ToString(row[d]);
                                                var succes = db.Query(@"SELECT allergieën FROM Allergieën WHERE Allergieën.allergieën_id = @0", All);
                                                foreach (var rows in succes)
                                                {
                                                    <td>@rows.allergieën</td>
                                                }
                                            }
                                            if (geenallergie == true)
                                            {
                                                <td><button type="submit" class="btn btn-outline-primary waves-effect" name="wijzigen" value="@row[a]" disabled>Wijzigen</button></td>
                                                <td><button type="submit" class="btn btn-outline-danger waves-effect" name="verwijderen" value="@row[a]" disabled>Verwijderen</button></td>
                                            }
                                            else
                                            {
                                                <td><button type="submit" class="btn btn-outline-primary waves-effect" name="wijzigen" value="@row[a]">Wijzigen</button></td>
                                                <td><button type="submit" class="btn btn-outline-danger waves-effect" name="verwijderen" value="@row[a]">Verwijderen</button></td>
                                            }
                                        }
                                    </tr>
                                }
                                <tr>
                                    <td><input type="text" class="form-control" name="nieuwitem" placeholder="@b" style="text-align:center" /></td>
                                    @{
                                        if (c != null)
                                        {
                                            <td><input type="text" class="form-control" name="nieuwprijs" placeholder="@c" style="text-align:center" /></td>
                                        }
                                        if (d != null)
                                        {
                                            var succes = db.Query(@"SELECT allergieën FROM Allergieën");
                                            <td>
                                                <select class="form-control" name="nieuwallergie">
                                                    @foreach (var row2 in succes)
                                                    {

                                                        <option>@row2.allergieën</option>
                                                    }
                                                </select>
                                            </td>
                                        }
                                    }
                                    <td> <button type="submit" class="btn btn-outline-success waves-effect" name="toevoegen" value="true">Toevoegen</button></td>
                                </tr>
                                //toevoegen
                                if (IsPost && Request["toevoegen"] == "true")
                                {
                                    Update Update = new Update();

                                    var nieuwitem = Request["nieuwitem"];
                                    var nieuwprijs = Request["nieuwprijs"];
                                    var nieuwallergie = Request["nieuwallergie"];
                                    if (nieuwprijs == null && table == "Allergieën" || nieuwprijs == null && table == "Thema")
                                    {
                                        if (Update.Toevoegen(nieuwitem, nieuwprijs, nieuwallergie, table, a, b, c, d))
                                        {
                                            Response.Redirect("~/User.cshtml");
                                        }
                                        else
                                        {
                                            Session["foutmelding"] = "Toevoegen niet gelukt, probeer het opnieuw";
                                        }
                                    }
                                    else
                                    {
                                        bool iAllNumbers = nieuwprijs.ToCharArray().All(ch => Char.IsDigit(ch) || ch == '.');
                                        if (iAllNumbers)
                                        {
                                            if (Update.Toevoegen(nieuwitem, nieuwprijs, nieuwallergie, table, a, b, c, d))
                                            {
                                                Response.Redirect("~/User.cshtml");
                                            }
                                            else
                                            {
                                                Session["foutmelding"] = "Toevoegen niet gelukt, probeer het opnieuw!";
                                            }
                                        }
                                        else
                                        {
                                            Session["foutmelding"] = "Geen geldig bedrag, probeer het opnieuw!";
                                        }
                                    }
                                    Session["foutmelding"] = "niet gelukt";
                                }
                                //verwijderen
                                else if (IsPost && Request["verwijderen"] != null)
                                {
                                    Update Update = new Update();
                                    var id = Request["verwijderen"];
                                    if (Update.Verwijderen(id, table, a, b, c, d))
                                    {
                                        Response.Redirect("~/User.cshtml");
                                    }
                                    else
                                    {
                                        Session["foutmelding"] = "Verwijderen mislukt!";
                                    }
                                }
                                //wijzigen
                                else if (IsPost && Request["wijzigen"] != null)
                                {
                                    Update Update = new Update();
                                    var id = Request["wijzigen"];
                                    var succes = db.Query(@"SELECT * FROM " + table + " WHERE " + a + "=@0", id);
                                    foreach (var row in succes)
                                    {
                                        <tr>
                                            <td><input type="text" class="form-control" name="wijzigitem" value="@row[b]" style="text-align:center" /></td>
                                            @{ 
                                                if (c != null)
                                                {
                                                    <td><input type="text" class="form-control" name="wijzigprijs" value="@row[c]" style="text-align:center" /></td>
                                                }
                                                if (d != null)
                                                {
                                                    var ChangeAll = db.Query(@"SELECT allergieën FROM Allergieën");
                                                    <td>
                                                        <select class="form-control" name="wijzigallergie">
                                                            @foreach (var row2 in ChangeAll)
                                                            {
                                                                <option>@row2.allergieën</option>
                                                            }
                                                        </select>
                                                    </td>
                                                }
                                            }
                                            <td><button type="submit" class="btn btn-outline-primary waves-effect" name="wijzigid" value="@row[a]">Wijzigen</button></td>
                                        </tr>
                                    }
                                }
                                //wijzigitem
                                else if (IsPost && Request["wijzigitem"] != null)
                                {
                                    Update Update = new Update();
                                    var wijzigid = Request["wijzigid"];
                                    var wijzigprijs = Request["wijzigprijs"];
                                    var wijzigitem = Request["wijzigitem"];
                                    var wijzigallergie = Request["wijzigallergie"];        
                                    if (wijzigprijs != null)
                                    {
                                        bool iAllNumbers = wijzigprijs.ToCharArray().All(ch => Char.IsDigit(ch) || ch == '.');
                                        if (iAllNumbers)
                                        {
                                            if (Update.WijzigItem(wijzigid, wijzigprijs, wijzigallergie, wijzigitem, table, a, b, c, d))
                                            {
                                                Response.Redirect("~/User.cshtml");
                                            }
                                            else
                                            {
                                                Session["foutmelding"] = "Wijzigen mislukt!";
                                            }
                                        }
                                    }
                                    else if (wijzigprijs == null && table == "Allergieën" || wijzigprijs == null && table == "Thema")
                                    {
                                        if (Update.WijzigItem(wijzigid, wijzigprijs, wijzigallergie, wijzigitem, table, a, b, c, d))
                                        {
                                            Response.Redirect("~/User.cshtml");
                                        }
                                        else
                                        {
                                            Session["foutmelding"] = "Wijzigen mislukt!";
                                        }
                                    }
                                    else
                                    {
                                        Session["foutmelding"] = "Geen geldig bedrag, probeer het opnieuw!";
                                    }
                                }
                            }
                            if (Session[table] == "true")
                            {
                                <button type="submit" class="btn btn-outline-danger waves-effect" name="@close" value="true">Sluit @table</button>
                                if (IsPost && Request[close] == "true")
                                {
                                    Session[table] = null;
                                    Response.Redirect("~/User.cshtml");
                                }
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-success waves-effect" name="@count" value="true">Update @table</button>
                                if (IsPost && Request[Convert.ToString(count)] == "true")
                                {
                                    Session[table] = "true";
                                    Response.Redirect("~/User.cshtml");
                                }
                            }
                        } 
                    }
                </table>
            </div>

        </div>
        <br />
    </form>
</body>
</html>
